#pricefilterFORM_1 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 37.5px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    width: 193px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 96.5px 18.75px;
    transform-origin: 96.5px 18.75px;
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 0px 0px 14px;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterFORM_1*/

#pricefilterFORM_1:after {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterFORM_1:after*/

#pricefilterFORM_1:before {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterFORM_1:before*/

#pricefilterINPUT_2, #pricefilterINPUT_3, #pricefilterINPUT_5 {
    color: rgb(17, 17, 17);
    cursor: default;
    display: none;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_2, #pricefilterINPUT_3, #pricefilterINPUT_5*/

#pricefilterINPUT_2:after, #pricefilterINPUT_3:after, #pricefilterINPUT_5:after {
    color: rgb(17, 17, 17);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_2:after, #pricefilterINPUT_3:after, #pricefilterINPUT_5:after*/

#pricefilterINPUT_2:before, #pricefilterINPUT_3:before, #pricefilterINPUT_5:before {
    color: rgb(17, 17, 17);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_2:before, #pricefilterINPUT_3:before, #pricefilterINPUT_5:before*/

#pricefilterINPUT_4 {
    color: rgb(17, 17, 17);
    cursor: default;
    display: none;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_4*/

#pricefilterINPUT_4:after {
    color: rgb(17, 17, 17);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_4:after*/

#pricefilterINPUT_4:before {
    color: rgb(17, 17, 17);
    cursor: default;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_4:before*/

#pricefilterSPAN_6 {
    bottom: 336px;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 30px;
    left: 0px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    top: 1744px;
    width: 16.625px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 8.3125px 15px;
    transform-origin: 8.3125px 15px;
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6.5px 0px 0px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px 0px 0px 9px;
}/*#pricefilterSPAN_6*/

#pricefilterSPAN_6:after {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_6:after*/

#pricefilterSPAN_6:before {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_6:before*/

#pricefilterINPUT_7 {
    box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px 0px, rgba(0, 0, 0, 0.07) 0px 1px 0px 0px inset;
    color: rgb(17, 17, 17);
    height: 31px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 65px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 32.5px 15.5px;
    transform-origin: 32.5px 15.5px;
    caret-color: rgb(17, 17, 17);
    border-top: 1px solid rgb(148, 148, 148);
    border-right: 1px solid rgb(166, 166, 166);
    border-bottom: 1px solid rgb(166, 166, 166);
    border-left: 1px solid rgb(166, 166, 166);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 3px 7px 3px 18px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_7*/

#pricefilterINPUT_7:after {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_7:after*/

#pricefilterINPUT_7:before {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_7:before*/

#pricefilterSPAN_8 {
    bottom: 336px;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    height: 30px;
    left: 65px;
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    top: 1744px;
    width: 16.625px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 8.3125px 15px;
    transform-origin: 8.3125px 15px;
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6.5px 0px 0px 4px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px 0px 0px 9px;
}/*#pricefilterSPAN_8*/

#pricefilterSPAN_8:after {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_8:after*/

#pricefilterSPAN_8:before {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-align: left;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 30px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_8:before*/

#pricefilterINPUT_9 {
    box-shadow: rgba(250, 233, 215, 0.5) 0px 0.833333px 0.5px 0.333333px, rgba(0, 0, 0, 0.06) 0px 0.833333px 0px 0px inset;
    color: rgb(17, 17, 17);
    height: 31px;
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 65px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 32.5px 15.5px;
    transform-origin: 32.5px 15.5px;
    caret-color: rgb(17, 17, 17);
    border-top: 1px solid rgb(162, 143, 123);
    border-right: 1px solid rgb(177, 158, 138);
    border-bottom: 1px solid rgb(177, 158, 138);
    border-left: 1px solid rgb(177, 158, 138);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px 4px;
    outline: rgb(17, 17, 17) none 0px;
    padding: 3px 7px 3px 18px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_9*/

#pricefilterINPUT_9:after {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_9:after*/

#pricefilterINPUT_9:before {
    color: rgb(17, 17, 17);
    overflow-wrap: break-word;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / normal "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterINPUT_9:before*/

#pricefilterSPAN_10 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: inline-block;
    height: 31px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 39.5469px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 19.7656px 15.5px;
    transform-origin: 19.7656px 15.5px;
    caret-color: rgb(17, 17, 17);
    background: rgb(231, 233, 236) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(173, 177, 184);
    border-right: 1px solid rgb(162, 166, 172);
    border-bottom: 1px solid rgb(141, 144, 150);
    border-left: 1px solid rgb(162, 166, 172);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px 4px;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10*/

#pricefilterSPAN_10:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10:after*/

#pricefilterSPAN_10:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10:before*/

#pricefilterSPAN_102 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: inline-block;
    height: 31px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    vertical-align: middle;
    width: 52.5469px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 19.7656px 15.5px;
    transform-origin: 19.7656px 15.5px;
    caret-color: rgb(17, 17, 17);
    background: rgb(231, 233, 236) none repeat scroll 0% 0% / auto padding-box border-box;
    border-top: 1px solid rgb(173, 177, 184);
    border-right: 1px solid rgb(162, 166, 172);
    border-bottom: 1px solid rgb(141, 144, 150);
    border-left: 1px solid rgb(162, 166, 172);
    border-radius: 3px 3px 3px 3px;
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    margin: 6px 0px 0px 4px;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10*/

#pricefilterSPAN_102:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10:after*/

#pricefilterSPAN_102:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_10:before*/

#pricefilterSPAN_11 {
    bottom: 0px;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: block;
    height: 29px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    top: 0px;
    width: 37.5469px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    caret-color: rgb(17, 17, 17);
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(17, 17, 17);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    overflow: hidden;
}/*#pricefilterSPAN_11*/

#pricefilterSPAN_11:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_11:after*/

#pricefilterSPAN_11:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_11:before*/


#pricefilterSPAN_112 {
    bottom: 0px;
    box-shadow: rgba(255, 255, 255, 0.6) 0px 1px 0px 0px inset;
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: block;
    height: 29px;
    left: 0px;
    overflow-wrap: break-word;
    position: relative;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    top: 0px;
    width: 50px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    caret-color: rgb(17, 17, 17);
    background: rgba(0, 0, 0, 0) linear-gradient(rgb(247, 248, 250), rgb(231, 233, 236)) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(17, 17, 17);
    border-radius: 2px 2px 2px 2px;
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    overflow: hidden;
}/*#pricefilterSPAN_11*/

#pricefilterSPAN_112:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_11:after*/

#pricefilterSPAN_112:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_11:before*/


#pricefilterINPUT_12 {
    bottom: 0px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 29px;
    left: 0px;
    opacity: 0.01;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: pre;
    width: 37.5469px;
    word-wrap: break-word;
    z-index: 20;
    column-rule-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
    padding: 1px 7px 2px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_12*/

#pricefilterINPUT_12:after {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    white-space: pre;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0);
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#pricefilterINPUT_12:after*/

#pricefilterINPUT_12:before {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    white-space: pre;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0);
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#pricefilterINPUT_12:before*/

#pricefilterINPUT_122 {
    bottom: 0px;
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    display: block;
    height: 29px;
    left: 0px;
    opacity: 0.01;
    overflow-wrap: break-word;
    position: absolute;
    right: 0px;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    top: 0px;
    vertical-align: middle;
    white-space: pre;
    width: 37.5469px;
    word-wrap: break-word;
    z-index: 20;
    column-rule-color: rgba(0, 0, 0, 0);
    align-items: flex-start;
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0) none repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
    padding: 1px 7px 2px;
    transition: all 0.1s linear 0s;
}/*#pricefilterINPUT_12*/

#pricefilterINPUT_122:after {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    white-space: pre;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0);
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#pricefilterINPUT_12:after*/

#pricefilterINPUT_122:before {
    color: rgba(0, 0, 0, 0);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgba(0, 0, 0, 0);
    text-size-adjust: 100%;
    white-space: pre;
    word-wrap: break-word;
    column-rule-color: rgba(0, 0, 0, 0);
    user-select: none;
    caret-color: rgba(0, 0, 0, 0);
    border: 0px none rgba(0, 0, 0, 0);
    font: normal normal 400 normal 13px / 19px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgba(0, 0, 0, 0) none 0px;
}/*#pricefilterINPUT_12:before*/



#pricefilterSPAN_13 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: block;
    height: 29px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 37.5469px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px 10px 0px 11px;
}/*#pricefilterSPAN_13*/

#pricefilterSPAN_13:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_13:after*/

#pricefilterSPAN_13:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_13:before*/


#pricefilterSPAN_132 {
    box-sizing: border-box;
    color: rgb(17, 17, 17);
    cursor: pointer;
    display: block;
    height: 29px;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    width: 37.5469px;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    perspective-origin: 18.7656px 14.5px;
    transform-origin: 18.7656px 14.5px;
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
    padding: 0px 10px 0px 11px;
}/*#pricefilterSPAN_13*/

#pricefilterSPAN_132:after {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_13:after*/

#pricefilterSPAN_132:before {
    color: rgb(17, 17, 17);
    cursor: pointer;
    overflow-wrap: break-word;
    text-align: center;
    text-decoration: none solid rgb(17, 17, 17);
    text-size-adjust: 100%;
    white-space: nowrap;
    word-wrap: break-word;
    column-rule-color: rgb(17, 17, 17);
    caret-color: rgb(17, 17, 17);
    border: 0px none rgb(17, 17, 17);
    font: normal normal 400 normal 13px / 29px "Amazon Ember", Arial, sans-serif;
    list-style: none outside none;
    outline: rgb(17, 17, 17) none 0px;
}/*#pricefilterSPAN_13:before*/




.price-filterrrrr{
    float: right;
    display: flex;
    width: 100%;
}

